backend/docs/n8n_weather_workflow.json
{
  "name": "TravelWise Fixed AI Loop",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "dfffe12d-30a4-46df-a5b3-b621da1fbbc8",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1952,
        1952
      ]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:3000/api/webhooks/trips-for-weather-check",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "YOUR_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "f305cdc3-52b9-4872-9f07-42c80d56fcfd",
      "name": "Fetch Trips",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1728,
        1952
      ]
    },
    {
      "parameters": {},
      "id": "e4c2287f-d318-4787-a31e-4b4c7a9360a4",
      "name": "Limit to 1 Trip (Test Mode)",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1504,
        1952
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a data cleaning assistant. \nI have a raw list of places for a trip to {{ $json.country }}.\n\nTask:\n1. Extract the unique locations that have valid 'lat' and 'lon' coordinates.\n2. Ignore any places with missing coordinates.\n3. Limit the list to the top 3 most distinct locations.\n4. Return ONLY a valid JSON array of objects with keys: \"name\", \"lat\", \"lon\".\n\nRaw Data:\n{{ JSON.stringify($json.places) }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "822b93c0-8ef4-49d0-a516-f5632df7cd32",
      "name": "AI Data Cleaner",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        -1280,
        1952
      ],
      "credentials": {
        "openAiApi": {
          "id": "d23tjhvkMkg6dvRU",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the raw input\nconst item = $input.first().json;\n\n// Step 1: Locate the content. Based on your screenshot, it's inside message.content\nlet content = item.message?.content;\n\n// Step 2: Handle if content is a string (parse it) or object\nif (typeof content === 'string') {\n  try {\n    content = JSON.parse(content);\n  } catch (e) {\n    // If parsing fails, content remains a string\n  }\n}\n\n// Step 3: Extract the array. \n// Your screenshot shows the array is wrapped inside a \"result\" key.\nlet places = [];\n\nif (Array.isArray(content)) {\n  places = content;\n} else if (content && Array.isArray(content.result)) {\n  places = content.result; // <--- This matches your screenshot structure\n} else if (content && Array.isArray(content.places)) {\n  places = content.places; // Fallback for other common keys\n} else {\n  // Last resort: try to find any array in the object values\n  places = Object.values(content || {}).find(val => Array.isArray(val)) || [];\n}\n\n// Step 4: Return separate items for the Loop node\nreturn places.map(place => ({\n  json: place\n}));"
      },
      "id": "3f919669-452e-4247-9528-85b7734a98e2",
      "name": "Split AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        1952
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c224fbae-091d-4115-80d3-3881fd28d2e6",
      "name": "Loop Locations",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -704,
        1952
      ]
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lat",
              "value": "={{ $json.lat }}"
            },
            {
              "name": "lon",
              "value": "={{ $json.lon }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "appid",
              "value": "e381e6e37db5914755b978ac53566fba"
            }
          ]
        },
        "options": {}
      },
      "id": "9051a146-e20c-42cf-b41c-2c91622e5aac",
      "name": "Fetch Weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -480,
        1856
      ]
    },
    {
      "parameters": {
        "jsCode": "const allWeather = $input.all().map(item => item.json);\n\n// --- CRITICAL FIX ---\n// We need to fetch the original trip data (dates, country, etc.)\n// We try multiple common names for your node.\nlet tripDetails = {};\n\ntry {\n  // Try 1: Name from my JSON\n  tripDetails = $('Limit to 1 Trip (Test Mode)').first().json;\n} catch (e) {\n  try {\n    // Try 2: Name from your screenshot\n    tripDetails = $('Fetch Trips (2 Days Out)1').first().json;\n  } catch (e2) {\n    try {\n      // Try 3: Standard name\n      tripDetails = $('Fetch Trips').first().json;\n    } catch (e3) {\n      // If all fail, we can't get the date\n      console.log(\"Error: Could not find trip details node.\");\n    }\n  }\n}\n\nreturn [{\n  json: {\n    weatherReports: allWeather,\n    tripDetails: tripDetails\n  }\n}];"
      },
      "id": "d0050a3c-412c-4aed-88a6-5211e0231946",
      "name": "Aggregate Weather",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        2048
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a travel assistant for the app 'TravelWise'.\n\nTrip Context:\nDestination: {{ $json.tripDetails.country }}\nFlight Date: {{ $json.tripDetails.flightDate }}\n\nWeather Data:\n{{ JSON.stringify($json.weatherReports) }}\n\nTask:\n1. Analyze the weather reports.\n2. Create a short 'Weather Summary' (e.g., 'Expect rain and heavy winds').\n3. Generate 3-5 specific packing items based on the weather (e.g., 'Umbrella - heavy rain expected', 'Sunscreen - UV index is high').\n\nOutput Format:\nReturn a JSON object with keys:\n- \"summary\": string\n- \"checklist\": array of objects { \"item\": string, \"reason\": string }\n- \"emailBodyHtml\": A friendly HTML paragraph for an email summarizing the forecast."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "d0c033cc-ad46-4581-a486-cce3c6379043",
      "name": "AI Advisor",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        -256,
        2048
      ],
      "credentials": {
        "openAiApi": {
          "id": "d23tjhvkMkg6dvRU",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "start": "={{ DateTime.fromISO($('Aggregate Weather').first().json.tripDetails.flightDate).minus({ days: 1 }).toISO() }}",
        "end": "={{ DateTime.fromISO($('Aggregate Weather').first().json.tripDetails.flightDate).minus({ days: 1 }).plus({ hours: 1 }).toISO() }}",
        "additionalFields": {
          "description": "==Packing Reminder for your trip to {{ $('Aggregate Weather').first().json.tripDetails.country }}!\n\nWeather Forecast: {{ $json.message.content.summary }}\n\nDon't forget to pack:\n{{ $json.message.content.checklist.map(i => '- ' + i.item + ': ' + i.reason).join('\\n') }}\n\nSafe travels! ✈️",
          "summary": "=🌤️ Packing Reminder: {{ $('Aggregate Weather').first().json.tripDetails.country }}"
        }
      },
      "id": "1ad58119-a16b-4a94-a6cb-b74c7d5d9f9f",
      "name": "Create Calendar Reminder",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        96,
        1856
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "KLcuSeWGkAuuxvT7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Aggregate Weather').item.json.tripDetails.userEmail }}",
        "subject": "=🌤️ TravelWise: Packing for {{ $('Aggregate Weather').item.json.tripDetails.country }}",
        "message": "=Hi {{ $('Aggregate Weather').item.json.tripDetails.userName }},\n\n{{ $json.message.content.emailBodyHtml }}\n\n<ul>\n{{ $json.message.content.checklist.map(i => '<li><strong>' + i.item + ':</strong> ' + i.reason + '</li>').join('') }}\n</ul>",
        "options": {}
      },
      "id": "b5541e0d-0893-44f6-8771-5e908c8c03ac",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        96,
        2240
      ],
      "webhookId": "277fba66-b219-40ed-a71e-f7b734ea69f1",
      "credentials": {
        "gmailOAuth2": {
          "id": "U3wXgFWvG8seBO93",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:3000/api/webhooks/send-weather-notification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $('Aggregate Weather').item.json.tripDetails.userId }}"
            },
            {
              "name": "message",
              "value": "=Trip in 2 days! {{ $json.message.content.summary }} . Check your packing list."
            },
            {
              "name": "title",
              "value": "Weather Alert"
            }
          ]
        },
        "options": {}
      },
      "id": "4db7a045-0a6a-47cc-b919-0190a5c61d1f",
      "name": "In-App Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        96,
        2048
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:3000/api/webhooks/add-weather-checklist",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "YOUR_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"itineraryId\": \"{{ $('Aggregate Weather').item.json.tripDetails.itineraryId }}\",\n  \"items\": {{ JSON.stringify($json.message.content.checklist.map(item => ({ item: item.item, reason: item.reason, category: \"WEATHER\" }))) }}\n}",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Add Checklist to App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        96,
        2432
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Fetch Trips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Trips": {
      "main": [
        [
          {
            "node": "Limit to 1 Trip (Test Mode)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 1 Trip (Test Mode)": {
      "main": [
        [
          {
            "node": "AI Data Cleaner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Data Cleaner": {
      "main": [
        [
          {
            "node": "Split AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split AI Response": {
      "main": [
        [
          {
            "node": "Loop Locations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Locations": {
      "main": [
        [
          {
            "node": "Aggregate Weather",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Weather": {
      "main": [
        [
          {
            "node": "Loop Locations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Weather": {
      "main": [
        [
          {
            "node": "AI Advisor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Advisor": {
      "main": [
        [
          {
            "node": "Create Calendar Reminder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "In-App Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add Checklist to App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "272044f5-6838-4d7b-81f4-7a9e23278ccd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64f8fc1476caacfa5504615092ac60f5126478b404f8c540e06d976fd9924093"
  },
  "id": "7RBma2ANxIkA141yHGDvF",
  "tags": [
    {
      "updatedAt": "2026-01-24T06:33:43.208Z",
      "createdAt": "2026-01-24T06:33:43.208Z",
      "id": "IsXGgjiJMhBT8YLO",
      "name": "Weather"
    },
    {
      "updatedAt": "2026-01-24T06:33:43.198Z",
      "createdAt": "2026-01-24T06:33:43.198Z",
      "id": "jQPrIXn3dvEaeFJ4",
      "name": "TravelWise"
    },
    {
      "updatedAt": "2026-01-24T06:33:43.219Z",
      "createdAt": "2026-01-24T06:33:43.219Z",
      "id": "lrwKvZSe597QVx4N",
      "name": "AI"
    }
  ]
}