backend/docs/n8n_weather_workflow.json
{
  "name": "TravelWise Weather-Based Trip Preparation (Advanced)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Trigger (Midnight)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://127.0.0.1:3000/api/webhooks/trips-for-weather-check",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "=YOUR_WEBHOOK_API_KEY_HERE"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-trips",
      "name": "Fetch Trips (2 Days Out)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-has-trips",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-trips",
      "name": "Has Trips?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-trips",
      "name": "Loop Over Trips",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [660, -80]
    },
    {
      "parameters": {
        "jsCode": "// Extract unique coordinates from all places in the trip\nconst trip = $input.first().json;\nconst places = trip.places || [];\n\n// Get unique lat/lon coordinates (deduplicated)\nconst uniqueCoords = [];\nconst seen = new Set();\n\nfor (const place of places) {\n  const key = `${place.lat.toFixed(2)},${place.lon.toFixed(2)}`;\n  if (!seen.has(key)) {\n    seen.add(key);\n    uniqueCoords.push({\n      lat: place.lat,\n      lon: place.lon,\n      name: place.name,\n      category: place.category\n    });\n  }\n}\n\n// Limit to 5 unique locations to avoid too many API calls\nconst limitedCoords = uniqueCoords.slice(0, 5);\n\nreturn [{\n  json: {\n    ...trip,\n    uniqueLocations: limitedCoords,\n    locationCount: limitedCoords.length\n  }\n}];"
      },
      "id": "extract-coords",
      "name": "Extract Unique Coordinates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -80]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-locations",
      "name": "Loop Over Locations",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1100, -80]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.openweathermap.org/data/2.5/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lat",
              "value": "={{ $json.lat }}"
            },
            {
              "name": "lon",
              "value": "={{ $json.lon }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "cnt",
              "value": "40"
            },
            {
              "name": "appid",
              "value": "={{$env.OPENWEATHERMAP_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "openweather-api",
      "name": "OpenWeather API (Per Location)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -160]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate weather data from the inner loop back to the trip\n// This node collects all weather responses for a single trip\nconst allItems = $input.all();\nconst tripData = $('Extract Unique Coordinates').first().json;\n\n// Aggregate weather conditions from all locations\nconst allWeatherConditions = new Set();\nlet minTemp = Infinity;\nlet maxTemp = -Infinity;\n\nfor (const item of allItems) {\n  const weatherData = item.json;\n  if (weatherData.list && Array.isArray(weatherData.list)) {\n    for (const forecast of weatherData.list) {\n      const weather = (forecast.weather?.[0]?.main || '').toLowerCase();\n      const temp = forecast.main?.temp || 20;\n      \n      minTemp = Math.min(minTemp, temp);\n      maxTemp = Math.max(maxTemp, temp);\n      \n      if (weather.includes('rain') || weather.includes('drizzle')) {\n        allWeatherConditions.add('rain');\n      }\n      if (weather.includes('snow')) {\n        allWeatherConditions.add('snow');\n      }\n      if (weather.includes('thunderstorm')) {\n        allWeatherConditions.add('storm');\n      }\n      if (weather.includes('clear') || weather.includes('sun')) {\n        allWeatherConditions.add('sunny');\n      }\n      if (weather.includes('cloud')) {\n        allWeatherConditions.add('cloudy');\n      }\n    }\n  }\n}\n\n// Add temperature-based conditions\nif (minTemp < 10) allWeatherConditions.add('cold');\nif (maxTemp > 30) allWeatherConditions.add('hot');\n\nreturn [{\n  json: {\n    ...tripData,\n    aggregatedWeather: {\n      conditions: Array.from(allWeatherConditions),\n      minTemp: minTemp === Infinity ? 20 : Math.round(minTemp),\n      maxTemp: maxTemp === -Infinity ? 25 : Math.round(maxTemp),\n      locationsChecked: allItems.length\n    }\n  }\n}];"
      },
      "id": "aggregate-weather",
      "name": "Aggregate Weather Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, -80]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.exchangerate-api.com/v4/latest/USD",
        "options": {}
      },
      "id": "currency-api",
      "name": "Fetch Exchange Rates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, -80]
    },
    {
      "parameters": {
        "jsCode": "// Map country names to currency codes\nconst COUNTRY_CURRENCIES = {\n  'lebanon': 'LBP',\n  'egypt': 'EGP',\n  'turkey': 'TRY',\n  'jordan': 'JOD',\n  'morocco': 'MAD',\n  'uae': 'AED',\n  'greece': 'EUR',\n  'spain': 'EUR',\n  'italy': 'EUR',\n  'france': 'EUR',\n  'germany': 'EUR',\n  'uk': 'GBP',\n  'japan': 'JPY',\n  'thailand': 'THB',\n  'india': 'INR',\n  'australia': 'AUD',\n  'canada': 'CAD',\n  'mexico': 'MXN',\n  'brazil': 'BRL'\n};\n\nconst tripData = $('Aggregate Weather Data').first().json;\nconst exchangeData = $input.first().json;\n\nconst countryLower = (tripData.country || '').toLowerCase();\nconst currencyCode = COUNTRY_CURRENCIES[countryLower] || 'USD';\nconst exchangeRate = exchangeData.rates?.[currencyCode] || 1;\n\nreturn [{\n  json: {\n    ...tripData,\n    currency: {\n      code: currencyCode,\n      rate: exchangeRate,\n      example: `$100 USD = ${(100 * exchangeRate).toFixed(2)} ${currencyCode}`\n    }\n  }\n}];"
      },
      "id": "process-currency",
      "name": "Process Currency Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, -80]
    },
    {
      "parameters": {
        "jsCode": "// Generate checklist items based on aggregated weather\nconst trip = $input.first().json;\nconst weather = trip.aggregatedWeather || { conditions: [], minTemp: 20, maxTemp: 25 };\nconst conditions = new Set(weather.conditions);\n\nconst checklistItems = [];\n\n// Check for activity types\nconst places = trip.places || [];\nconst hasHiking = places.some(p => p.category === 'HIKING' || p.category === 'PARK');\nconst hasBeach = places.some(p => p.category === 'BEACH');\nconst hasNightlife = places.some(p => p.category === 'BAR' || p.category === 'NIGHTCLUB');\nconst hasMuseum = places.some(p => p.category === 'MUSEUM');\nconst hasReligious = places.some(p => p.category === 'RELIGIOUS_SITE');\n\n// Weather-based items\nif (conditions.has('rain')) {\n  checklistItems.push({ category: 'WEATHER', item: 'Umbrella', reason: 'Rain expected during your trip' });\n  checklistItems.push({ category: 'WEATHER', item: 'Waterproof jacket/raincoat', reason: 'Rain expected during your trip' });\n  if (hasHiking) {\n    checklistItems.push({ category: 'WEATHER', item: 'Waterproof hiking boots', reason: 'Rain + hiking planned' });\n  }\n}\n\nif (conditions.has('snow')) {\n  checklistItems.push({ category: 'WEATHER', item: 'Warm winter jacket', reason: 'Snow expected' });\n  checklistItems.push({ category: 'WEATHER', item: 'Winter boots', reason: 'Snow expected' });\n  checklistItems.push({ category: 'WEATHER', item: 'Gloves and warm hat', reason: 'Snow expected' });\n  checklistItems.push({ category: 'WEATHER', item: 'Thermal underwear', reason: 'Cold/snowy conditions' });\n}\n\nif (conditions.has('cold')) {\n  checklistItems.push({ category: 'WEATHER', item: 'Warm layers (sweaters, fleece)', reason: `Min temp: ${weather.minTemp}°C` });\n}\n\nif (conditions.has('hot') || conditions.has('sunny')) {\n  checklistItems.push({ category: 'WEATHER', item: 'Sunscreen (SPF 30+)', reason: `Max temp: ${weather.maxTemp}°C` });\n  checklistItems.push({ category: 'WEATHER', item: 'Sunglasses', reason: 'Sunny conditions expected' });\n  checklistItems.push({ category: 'WEATHER', item: 'Reusable water bottle', reason: 'Stay hydrated in heat' });\n  checklistItems.push({ category: 'WEATHER', item: 'Light, breathable clothing', reason: 'Hot weather expected' });\n}\n\nif (conditions.has('storm')) {\n  checklistItems.push({ category: 'SAFETY', item: 'Check weather alerts daily', reason: 'Thunderstorms possible' });\n}\n\n// Activity-based items\nif (hasHiking && !conditions.has('rain')) {\n  checklistItems.push({ category: 'ACTIVITY', item: 'Hiking shoes/boots', reason: 'Hiking activities planned' });\n}\nif (hasHiking) {\n  checklistItems.push({ category: 'ACTIVITY', item: 'First aid kit', reason: 'Essential for hiking' });\n  checklistItems.push({ category: 'ACTIVITY', item: 'Hiking poles (optional)', reason: 'Helpful for trails' });\n}\n\nif (hasBeach) {\n  checklistItems.push({ category: 'ACTIVITY', item: 'Swimwear', reason: 'Beach activities planned' });\n  checklistItems.push({ category: 'ACTIVITY', item: 'Beach towel', reason: 'Beach activities planned' });\n  checklistItems.push({ category: 'ACTIVITY', item: 'Flip flops/sandals', reason: 'Beach activities planned' });\n}\n\nif (hasNightlife) {\n  checklistItems.push({ category: 'ACTIVITY', item: 'Smart casual outfit', reason: 'Nightlife venues planned' });\n}\n\nif (hasReligious) {\n  checklistItems.push({ category: 'ACTIVITY', item: 'Modest clothing (cover shoulders/knees)', reason: 'Visiting religious sites' });\n}\n\n// Format date\nconst flightDate = trip.flightDate ? new Date(trip.flightDate).toLocaleDateString('en-US', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n}) : 'your trip date';\n\n// Weather summary\nconst weatherSummary = weather.conditions.length > 0 \n  ? `Expect ${weather.conditions.join(', ')} conditions (${weather.minTemp}°C - ${weather.maxTemp}°C)`\n  : `Mild weather expected (${weather.minTemp}°C - ${weather.maxTemp}°C)`;\n\n// Build activities list for OpenAI\nconst activities = [];\nif (hasHiking) activities.push('hiking');\nif (hasBeach) activities.push('beach');\nif (hasNightlife) activities.push('nightlife');\nif (hasMuseum) activities.push('museums');\nif (hasReligious) activities.push('religious sites');\n\nreturn [{\n  json: {\n    itineraryId: trip.itineraryId,\n    userId: trip.userId,\n    userEmail: trip.userEmail,\n    userName: trip.userName || 'Traveler',\n    country: trip.country,\n    flightDate: flightDate,\n    rawFlightDate: trip.flightDate,\n    numberOfDays: trip.numberOfDays,\n    currency: trip.currency,\n    weatherData: weather,\n    weatherSummary: weatherSummary,\n    checklistItems: checklistItems,\n    existingItemNames: checklistItems.map(i => i.item),\n    activities: activities,\n    hasNewItems: checklistItems.length > 0\n  }\n}];"
      },
      "id": "generate-checklist",
      "name": "Generate Weather Checklist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, -80]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "id": "openai-node",
      "name": "AI Packing Suggestions",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [2420, -80]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on a trip to {{ $json.country }} with the following conditions:\n- Weather: {{ $json.weatherData.conditions.join(', ') || 'mild' }}\n- Temperature range: {{ $json.weatherData.minTemp }}°C to {{ $json.weatherData.maxTemp }}°C\n- Activities: {{ $json.activities.join(', ') || 'general sightseeing' }}\n- Duration: {{ $json.numberOfDays }} days\n- Local currency: {{ $json.currency.code }} ({{ $json.currency.example }})\n\nSuggest 5 additional packing items NOT already covered by these items: {{ $json.existingItemNames.join(', ') }}\n\nFocus on practical, trip-specific items. Respond ONLY with a valid JSON array in this exact format, with no additional text:\n[{\"item\": \"item name\", \"reason\": \"brief reason\"}]"
      },
      "id": "openai-prompt",
      "name": "AI Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2420, -160]
    },
    {
      "parameters": {
        "jsCode": "// Parse AI suggestions and merge with weather-based checklist\nconst tripData = $('Generate Weather Checklist').first().json;\nconst aiResponse = $input.first().json;\n\nlet aiItems = [];\n\ntry {\n  // Try to parse AI response - it should be a JSON array\n  let responseText = aiResponse.text || aiResponse.message?.content || '';\n  \n  // Extract JSON array from response if wrapped in markdown\n  const jsonMatch = responseText.match(/\\[.*\\]/s);\n  if (jsonMatch) {\n    aiItems = JSON.parse(jsonMatch[0]);\n  }\n  \n  // Add category to AI items\n  aiItems = aiItems.map(item => ({\n    ...item,\n    category: 'ESSENTIALS',\n    reason: item.reason + ' (AI suggested)'\n  }));\n} catch (e) {\n  console.log('Failed to parse AI response:', e.message);\n  aiItems = [];\n}\n\n// Merge weather checklist with AI suggestions\nconst allItems = [...tripData.checklistItems, ...aiItems];\n\nreturn [{\n  json: {\n    ...tripData,\n    checklistItems: allItems,\n    aiSuggestions: aiItems,\n    totalItemCount: allItems.length\n  }\n}];"
      },
      "id": "merge-ai-suggestions",
      "name": "Merge AI Suggestions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, -80]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-has-items",
              "leftValue": "={{ $json.totalItemCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-checklist",
      "name": "Has Checklist Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2860, -80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:3000/api/webhooks/add-weather-checklist",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "=YOUR_WEBHOOK_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "itineraryId",
              "value": "={{ $json.itineraryId }}"
            },
            {
              "name": "items",
              "value": "={{ $json.checklistItems }}"
            }
          ]
        },
        "options": {}
      },
      "id": "add-checklist",
      "name": "Add Checklist Items to DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3080, -160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:3000/api/webhooks/send-weather-notification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "=YOUR_WEBHOOK_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $('Merge AI Suggestions').item.json.userId }}"
            },
            {
              "name": "itineraryId",
              "value": "={{ $('Merge AI Suggestions').item.json.itineraryId }}"
            },
            {
              "name": "title",
              "value": "🌤️ Trip Prep Alert: {{ $('Merge AI Suggestions').item.json.country }}"
            },
            {
              "name": "message",
              "value": "={{ 'Your trip is in 2 days! ' + $('Merge AI Suggestions').item.json.weatherSummary + '. We\\'ve added ' + $('Merge AI Suggestions').item.json.totalItemCount + ' items to your packing checklist including AI-powered suggestions.' }}"
            },
            {
              "name": "weatherSummary",
              "value": "={{ $('Merge AI Suggestions').item.json.weatherSummary }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-notification",
      "name": "Create In-App Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3300, -160]
    },
    {
      "parameters": {
        "resource": "event",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "summary": "=🧳 Pack for {{ $('Merge AI Suggestions').item.json.country }} Trip!",
        "start": "={{ DateTime.fromISO($('Merge AI Suggestions').item.json.rawFlightDate).minus({ days: 1 }).toISO() }}",
        "end": "={{ DateTime.fromISO($('Merge AI Suggestions').item.json.rawFlightDate).minus({ days: 1 }).plus({ hours: 1 }).toISO() }}",
        "additionalFields": {
          "description": "=Time to pack for your {{ $('Merge AI Suggestions').item.json.numberOfDays }}-day trip to {{ $('Merge AI Suggestions').item.json.country }}!\n\n🌡️ Weather: {{ $('Merge AI Suggestions').item.json.weatherSummary }}\n\n💱 Currency: {{ $('Merge AI Suggestions').item.json.currency.example }}\n\n📋 Checklist items added: {{ $('Merge AI Suggestions').item.json.totalItemCount }}\n\nOpen TravelWise to see your full packing checklist!",
          "colorId": "9",
          "sendUpdates": "all"
        }
      },
      "id": "google-calendar",
      "name": "Create Calendar Reminder",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [3520, -160]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Merge AI Suggestions').item.json.userEmail }}",
        "subject": "=🌤️ Weather Alert: {{ $('Merge AI Suggestions').item.json.country }} Trip in 2 Days!",
        "emailType": "html",
        "message": "=<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"background: linear-gradient(135deg, #004e89 0%, #1a73e8 100%); padding: 30px; border-radius: 12px 12px 0 0; text-align: center;\">\n    <h1 style=\"color: white; margin: 0; font-size: 24px;\">🌤️ Trip Preparation Alert</h1>\n    <p style=\"color: rgba(255,255,255,0.9); margin: 10px 0 0 0;\">{{ $('Merge AI Suggestions').item.json.country }} - {{ $('Merge AI Suggestions').item.json.flightDate }}</p>\n  </div>\n  <div style=\"background: #f9fafb; padding: 30px; border-radius: 0 0 12px 12px; border: 1px solid #e5e7eb; border-top: none;\">\n    <h2 style=\"color: #1f2937; margin-top: 0;\">Hi {{ $('Merge AI Suggestions').item.json.userName }}! 👋</h2>\n    <p style=\"color: #4b5563; font-size: 16px; line-height: 1.6;\">Your trip to <strong>{{ $('Merge AI Suggestions').item.json.country }}</strong> is in <strong>2 days</strong>!</p>\n    \n    <div style=\"background: white; border-radius: 8px; padding: 20px; margin: 20px 0; border-left: 4px solid #1a73e8;\">\n      <h3 style=\"color: #1f2937; margin: 0 0 10px 0;\">🌡️ Weather Forecast</h3>\n      <p style=\"color: #4b5563; margin: 0;\">{{ $('Merge AI Suggestions').item.json.weatherSummary }}</p>\n    </div>\n    \n    <div style=\"background: white; border-radius: 8px; padding: 20px; margin: 20px 0; border-left: 4px solid #10b981;\">\n      <h3 style=\"color: #1f2937; margin: 0 0 10px 0;\">💱 Currency Info</h3>\n      <p style=\"color: #4b5563; margin: 0;\">{{ $('Merge AI Suggestions').item.json.currency.example }}</p>\n    </div>\n    \n    <h3 style=\"color: #1f2937;\">📋 Packing Checklist ({{ $('Merge AI Suggestions').item.json.totalItemCount }} items)</h3>\n    <p style=\"color: #6b7280; font-size: 14px;\">We've added weather-based and AI-suggested items to your checklist:</p>\n    <ul style=\"color: #4b5563; line-height: 1.8;\">\n      {{ $('Merge AI Suggestions').item.json.checklistItems.slice(0, 8).map(item => '<li><strong>' + item.item + '</strong> - ' + item.reason + '</li>').join('') }}\n      {{ $('Merge AI Suggestions').item.json.checklistItems.length > 8 ? '<li><em>...and ' + ($('Merge AI Suggestions').item.json.checklistItems.length - 8) + ' more items</em></li>' : '' }}\n    </ul>\n    \n    <div style=\"background: #fef3c7; border-radius: 8px; padding: 15px; margin: 20px 0;\">\n      <p style=\"color: #92400e; margin: 0; font-size: 14px;\">📅 <strong>Calendar reminder created</strong> for packing day (1 day before departure)</p>\n    </div>\n    \n    <p style=\"color: #6b7280; font-size: 14px; margin-top: 30px;\">Open the TravelWise app to view your complete itinerary and checklist.</p>\n    <hr style=\"border: none; border-top: 1px solid #e5e7eb; margin: 20px 0;\">\n    <p style=\"color: #9ca3af; font-size: 12px; text-align: center; margin: 0;\">Happy travels! 🧳✈️<br>The TravelWise Team</p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "send-gmail",
      "name": "Send Gmail Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [3740, -160]
    },
    {
      "parameters": {},
      "id": "complete",
      "name": "Trip Processed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3960, -160]
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "No Trips - End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 100]
    },
    {
      "parameters": {},
      "id": "no-checklist",
      "name": "No Items - Skip Notifications",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3080, 0]
    }
  ],
  "connections": {
    "Daily Trigger (Midnight)": {
      "main": [
        [
          {
            "node": "Fetch Trips (2 Days Out)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Trips (2 Days Out)": {
      "main": [
        [
          {
            "node": "Has Trips?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Trips?": {
      "main": [
        [
          {
            "node": "Loop Over Trips",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Trips - End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Trips": {
      "main": [
        [
          {
            "node": "Extract Unique Coordinates",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extract Unique Coordinates": {
      "main": [
        [
          {
            "node": "Loop Over Locations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Locations": {
      "main": [
        [
          {
            "node": "OpenWeather API (Per Location)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Weather Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeather API (Per Location)": {
      "main": [
        [
          {
            "node": "Loop Over Locations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Weather Data": {
      "main": [
        [
          {
            "node": "Fetch Exchange Rates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Exchange Rates": {
      "main": [
        [
          {
            "node": "Process Currency Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Currency Data": {
      "main": [
        [
          {
            "node": "Generate Weather Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Weather Checklist": {
      "main": [
        [
          {
            "node": "AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Prompt": {
      "main": [
        [
          {
            "node": "AI Packing Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Packing Suggestions": {
      "main": [
        [
          {
            "node": "Merge AI Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge AI Suggestions": {
      "main": [
        [
          {
            "node": "Has Checklist Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Checklist Items?": {
      "main": [
        [
          {
            "node": "Add Checklist Items to DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Items - Skip Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Checklist Items to DB": {
      "main": [
        [
          {
            "node": "Create In-App Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create In-App Notification": {
      "main": [
        [
          {
            "node": "Create Calendar Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Reminder": {
      "main": [
        [
          {
            "node": "Send Gmail Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail Alert": {
      "main": [
        [
          {
            "node": "Trip Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trip Processed": {
      "main": [
        [
          {
            "node": "Loop Over Trips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Items - Skip Notifications": {
      "main": [
        [
          {
            "node": "Loop Over Trips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "travelwise-weather-workflow-advanced"
  },
  "pinData": {},
  "versionId": "2.0.0",
  "tags": [
    {
      "name": "TravelWise",
      "createdAt": "2026-01-24T00:00:00.000Z",
      "updatedAt": "2026-01-24T00:00:00.000Z"
    },
    {
      "name": "Weather",
      "createdAt": "2026-01-24T00:00:00.000Z",
      "updatedAt": "2026-01-24T00:00:00.000Z"
    },
    {
      "name": "AI",
      "createdAt": "2026-01-24T00:00:00.000Z",
      "updatedAt": "2026-01-24T00:00:00.000Z"
    }
  ]
}
